@import '../../../node_modules/@angular/material/theming';

@mixin parallax-theme($theme) {

  // theme variables
  $theme-background: map-get($theme, background);


  div.parallax-container{
    height: 100%;
  }

}

@mixin parallax-row-theme($theme) {

  // theme variables
  $theme-background: map-get($theme, background);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .parallax-img-row{
    position: relative;
    //opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(256,256,256,.0);
    //z-index: 0;
  }


  .parallax-row{
    background: mat-color($theme-background, background);
  }

  .parallax-row-primary{
    background: mat-color($primary);
  }

  .parallax-row-accent{
    background: mat-color($accent);
  }

  .parallax-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    //background-color: rgba(256,256,256,.0);

    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .70;
    background-color:  white;
    //z-index: -2;
  }

  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .70;
    //background-color:  white;
    //z-index: -2;
  }

  div.overlay-primary{
    @extend .overlay;
    background-color:  mat-color($primary);
  }

  div.overlay-accent{
    @extend .overlay;
    background-color:  mat-color($accent);
  }
}
