
<parallax>

  <mat-menu #themesMenu overlapTrigger >
    <mat-grid-list cols="2">
      <mat-grid-tile *ngFor="let theme of themes">
        <div class="choose-theme-tile" [ngClass]="{'choose-theme-tile-active': (themeService.getTheme() | async) === theme.name}" mat-menu-item role="menuitem" (click)="themeService.setTheme(theme.name)">
          <div class="swatch" [style.background]="'linear-gradient(-45deg, '+theme.getColor('primary')+' 35%,  '+theme.getColor('accent')+' 100%)'"></div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-menu>
  <button class="settings-button" mat-fab aria-label="Theme Settings" [mat-menu-trigger-for]="themesMenu" >
    <mat-icon >invert_colors</mat-icon>
  </button>

  <parallax-row  [img]="'./assets/theme/'+(themeService.getTheme() | async)+'/parallax/primary.jpg'" color="true">
    <ng-container parallax="true" ><heading></heading></ng-container>
  </parallax-row>
  <parallax-row color="true" [height]="'100%'" ></parallax-row>
  <parallax-row  [img]="'./assets/theme/'+(themeService.getTheme() | async)+'/parallax/support-0.jpg'" ></parallax-row>
  <parallax-row color="true" accent="true"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></parallax-row>
  <parallax-row  [img]="'./assets/theme/'+(themeService.getTheme() | async)+'/parallax/support-1.jpg'" [height]="'400px'"></parallax-row>
  <parallax-row  ><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></parallax-row>
  <parallax-row  [img]="'./assets/theme/'+(themeService.getTheme() | async)+'/parallax/primary.jpg'"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></parallax-row>


</parallax>

