<parallax >
  <button class="settings-button" mat-fab aria-label="Theme Settings" [mat-menu-trigger-for]="themesMenu" >
    <mat-icon >invert_colors</mat-icon>
  </button>
  <mat-menu #themesMenu overlapTrigger >
    <mat-grid-list cols="2">
      <mat-grid-tile *ngFor="let theme of themes">
        <div class="theme-tile" [ngClass]="{'theme-tile-active': (themeService.getTheme() | async) === theme.name}" mat-menu-item role="menuitem" (click)="themeService.setTheme(theme.name)">
          <div class="swatch" [style.background]="'linear-gradient(-45deg, '+theme.getColor('primary')+' 35%,  '+theme.getColor('accent')+' 100%)'"></div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-menu>

  <parallax-row [img]="'./assets/theme/'+(themeService.getTheme() | async)+'/parallax/1.jpg'" color="true"></parallax-row>
  <parallax-row color="true"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></parallax-row>
  <parallax-row  [img]="'./assets/theme/'+(themeService.getTheme() | async)+'/parallax/2.jpg'" [height]="'400px'"></parallax-row>
  <parallax-row color="true" accent="true"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></parallax-row>
  <parallax-row  [img]="'./assets/theme/'+(themeService.getTheme() | async)+'/parallax/3.jpg'" [height]="'400px'"></parallax-row>
  <parallax-row><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></parallax-row>
  <parallax-row  [img]="'./assets/theme/'+(themeService.getTheme() | async)+'/parallax/1.jpg'" ></parallax-row>

</parallax>

