@import '~@angular/material/theming';

@mixin parallax-theme($theme) {

  // theme variables
  $theme-background: map-get($theme, background);


  div.parallax-container{
    height: 100%;
    background: mat-color($theme-background, background);
  }

}
